<!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      </head>
      <body>
        <h1>Post<h1>
          <div id = post_title class = "card">
            <p style="font-size:20px">Post Title Goes Here</p>
            <p style="font-size:20px">Date Posted: 01/01/2019</p>
          <button style ="font-size: 20px" type = "button">Report</button>
        </div>
          <div style="font-size:20px" class = card>
          <p>Item description goes here!
            I am offering pizza for whoever helps me move this couch!
          </p>
        </div>
        <div style = "font-size: 15px" class = card id = tags>
          <p1>tag1  tag2  tag3<p2>
            <button style="font-size:15px" id = message_poster>Message Poster</button>
          </div>
      </body>
      </html>
