<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>User Profile</title>
  </head>
  <body class="container-fluid bg-light">

    <div class="row mt-4">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">@CU Username</h5>
          </div>
        </div>

        <h1 class="mt-5">@CU Username Post History</h1>

        <div class="card border-primary">
          <div class="card-body text-dark border-top">
            <h5 class="card-title">Trading Cookies for A+ in Software</h5>
            <form>
              <div class="row">

                <div class="col-6">
                  <button type="button" name="linkToPost" class="btn btn-info btn-sm">Post</button>
                </div>
                <div class="col-6">
                  <p class="small"> <strong>Post Created: <em>10/30/19</em></strong> </p>
                </div>
              </div>
            </form>
          </div>

          <div class="card-body text-dark border-top">
            <h5 class="card-title">Trading Cookies for A+ in Software</h5>
            <form>
              <div class="row">

                <div class="col-6">
                  <button type="button" name="linkToPost" class="btn btn-info btn-sm">Post</button>
                </div>
                <div class="col-6">
                  <p class="small"> <strong>Post Created: <em>10/30/19</em></strong> </p>
                </div>
              </div>
            </form>

          </div>
          <div class="card-body text-dark border-top">
            <h5 class="card-title">Trading Cookies for A+ in Software</h5>
            <form>
              <div class="row">

                <div class="col-6">
                  <button type="button" name="linkToPost" class="btn btn-info btn-sm">Post</button>
                </div>
                <div class="col-6">
                  <p class="small"> <strong>Post Created: <em>10/30/19</em></strong> </p>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>

      <div class="col-8">

            <table class="table table-bordered bg-white">
                <tr>
                  <th colspan="2" class="text-center"> MESSAGES</th>
                </tr>
                <tr>
                  <th>Username</th>
                  <th colspan="1">Message</th>
                </tr>
                <tr>
                  <td>Lesh0238</td>
                  <td>I would like to talk to you about cookies </td>
                </tr>
                <tr>
                  <td>Lesh0238</td>
                  <td>I would like to talk to you about cookies </td>
                </tr>
                <tr>
                  <td>Lesh0238</td>
                  <td>I would like to talk to you about cookies </td>
                </tr>

            </table>
        </div>

      </div>




  </body>
</html>
