<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <div class="col-xs-1" align="center">
      <img src=
      "https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F68614365%2F326369786553%2F1%2Foriginal.20190814-141719?w=1000&amp;auto=compress&amp;rect=0%2C52%2C624%2C312&amp;s=2882470abbafd80cce377a8e97f40472"
      class="rounded" alt="Placeholder Logo" style="width:700px;height:100px;">
    </div><br>
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-6" align="left">
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <button id="button-addon7" type="submit" class=
              "btn btn-primary"></button>
            </div><input type="search" placeholder="Search" aria-describedby=
            "button-addon7" class="form-control">
          </div>
        </div>
        <div class="col-6" align="right">
          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown">Filter</button>
            <div class="dropdown-menu">
              <a class="dropdown-item active" href="#">new</a> <a class=
              "dropdown-item enabled" href="#">bogar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="card" style="width: 100%;">
          <a href="">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <h5 class="card-title">
                    User's Name
                  </h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    Exchange details
                  </h6>
                </div>
                <div class="col-6" align="right">
                  <h5 class="card-title">
                    10/31/2019
                  </h5>
                </div>
              </div>
            </div>
          </div></a>
        </div>
      </div>
    </div>
  </body>
</html>
