<!DOCTYPE html>
    <html>
      <head>
        <% include ./partials/head %>
      </head>
      <body class="bg-light">
        <% include ./partials/navbar %>
        <h1>Post<h1>
          <div id = post_title class = "card">
            <p style="font-size:20px">@<%=current.post_title %></p>
            <p style="font-size:20px">@<%=current.post_date %></p>
          <button style ="font-size: 20px" type = "button">Report</button>
        </div>
          <div style="font-size:20px" class = card>
          <p>@<%=current.description %>
          </p>
        </div>
        <div style = "font-size: 15px" class = card id = tags>
          <p1>@<%=current.tags %><p2>
            <button style="font-size:15px" id = message_poster>Message Poster</button>
          </div>
      </body>
      </html>
