<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>

  <body class="bg-light">
        <div class="container h-100">
          <div class="row">
            <div class="col-sm-9 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <h3 class="card-title text-center">Create New Account</h3>

                  <form action="/register/submitRegister" method="post">
                    <div class="form-group form-inline">
                      <label for="uName" class="px-2">Create Username </label>
                      <input type="text" class="form-control" placeholder="New Username" name="uName" required>
                    </div>
                    <div class="form-group form-inline">
                      <label for="uPassword" class="px-2">Create Password </label>
                      <input type="password" name="uPassword" class="form-control" placeholder="*********"required>
                    </div>
                    <div class="form-group form-inline">
                      <label for="uConfirmPassword" class="px-2">Confirm Password </label>
                      <input type="password" name="uConfirmPassword" class="form-control" placeholder=""required>
                    </div>
                    <div class="form-group">
                      <table class="table">
                        <tr>
                          <td scope="col"><button type="submit" class="btn btn-primary px-2">Submit</button></td>
                          <td scope="col"><button type="button" class="btn btn-secondary btn-sm" onclick="location.href='/login'" name="login?">Login?</button></td>
                        </tr>
                      </table>
                    </div>
                  </form>


                </div>


              </div>
            </div>


          </div>

        </div>
  </body>
</html>
