<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head %>
  </head>

  <body class="bg-light">
    <% include ./partials/navbar %>
    <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">@<%=name %></h3>
          </div>
        </div>

        <h1 class="mt-5">@<%= name %> Post History</h1>

        <div class="card border-primary">

          <% for(var i=0; i < posts.length;i++){ %>
          <div class="card-body text-dark border-top">
            <h5 class="card-title"> <%=posts[i].post_title %> </h5>
            <form>
              <div class="row">

                <div class="col-6">
                  <button type="button" name="post1" class="btn btn-info btn-sm">Post Information</button>
                </div>
                <div class="col-6">
                  <p class="small"> <strong>Post Created: <em><%=posts[i].time_created%></em></strong> </p>
                </div>
              </div>
            </form>
          </div>

          <% } %>
        </div>

      </div>

      <div class="col-8">

            <table class="table table-bordered bg-white">
                <tr>
                  <th colspan="2" class="text-center"> MESSAGES</th>
                </tr>
                <tr>
                  <th>Username</th>
                  <th colspan="1">Message</th>
                </tr>
                
                <tr>
                  <td>Lesh0238</td>
                  <td>I would like to talk to you about cookies </td>
                </tr>
                <tr>
                  <td>Lesh0238</td>
                  <td>I would like to talk to you about cookies </td>
                </tr>
                <tr>
                  <td>Lesh0238</td>
                  <td>I would like to talk to you about cookies </td>
                </tr>

            </table>
        </div>

      </div>



  </div>
  </body>
</html>
